<!-- main app container -->
<div class="card m-3">
	<h5 class="card-header">Instructions</h5>
	<div class="card-body">
		<ul>
			<li>
				<h6>1) Add a HTTP get call to App component. Retrieve data from defines service url </h6>
			</li>			
      <li>
				<h6>2) JSON data should be shown in Output field</h6>
			</li>
      <li>
				<h6>3) Add error handling to second HTTP call </h6>
			</li>
      <li>
				<h6>4) Implement error handling function. 
          Exception should be shown in  error output field. </h6>
			</li>			
		</ul>
	</div>
</div>


<div class="card m-3">
	<h5 class="card-header">Angular Error Output</h5>
	<div class="card-body">
		{{this.errorMsg}}
	</div>
</div>
<div class="card m-3">
	<h5 class="card-header">Angular JSON Output</h5>
	<div class="card-body">
		{{this.jsonOutput}}
	</div>
</div>