/*02 - DESKTOP FIRST*/
.container {
  width: 70%;
  margin: 0 auto;
}

.showcase__item {
  display: grid;
  grid-template-columns: 40% 55%;
  grid-column-gap: 5%;
}

.showcase__image {
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

.showcase__paragraph {
  margin: 0;
}

.showcase__paragraph:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 85%;
  }

  .showcase__item {
    display: block;
    grid-template-columns: 0;
    grid-column-gap: 0;
  }

  .showcase__image {
    margin-bottom: 1.5rem;
  }

  .showcase__paragraph:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}