<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">Instructions</h5>
  <div class="card-body">
    <ul>
      <li>
        Convert the code below and in the
        <strong>app.component.scss</strong> file to valid BEM - properly
        identify the building blocks and update their class names.
      </li>
      <li>
        Use all SASS techniques that you have learned to make the code in the
        stylesheet more lean and reusable.
      </li>
    </ul>
  </div>
</div>
<hr />
<section class="c-teaser">
  <ul class="c-teaser__list">
    <li
      *ngFor="let teaser of teasers"
      class="c-teaser__list-item"
      [ngClass]="!teaser.published && 'c-teaser__list-item--hidden'"
    >
      <img
        src="{{teaser.imagePath}}"
        alt="{{teaser.title}}"
        class="c-teaser__list-item-image"
      />
      <div class="c-teaser__list-item-content">
        <h3>{{ teaser.title }}</h3>
        <p>{{ teaser.excerpt }}</p>
      </div>
    </li>
  </ul>
</section>
