html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.info {
  font-size: 1em;
  color: #888;
  margin-bottom: 20px;
}

/* Example */
.container {
  border: 3px solid lightcoral;
  /* follow the steps from help section */
}

/* 
* Task 1 
* Grid page layout 
*/
header,
.header {
  background-color: #c9d8b6;
}
nav,
.nav {
  background-color: #57837b;
}
main,
.main {
  background-color: #f1ecc3;
}
footer,
.footer {
  background-color: #515e63;
  color: white;
  font-size: 0.75rem;
}

nav ul,
.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li,
.nav ul li {
  margin-bottom: 10px;
}
nav ul a,
.nav ul a {
  color: white;
}

.content {
  padding: 1rem;
  font-size: 1.5rem;
}

.grid-layout-container {
  max-width: 1000px;
  margin: 1.5rem auto;

  /* task 1 (your code here) */
}

header {
  /* task 1 (your code here) */
}

nav {
  /* task 1 (your code here) */
}

main {
  /* task 1 (your code here) */
}

footer {
  /* task 1 (your code here) */
}

/* 
* Task 2: 
* Old Grid Code 
*/
[class^='col-'] div {
  background-color: lightgray;
  height: 50px;
}

.row {
  margin: 0 -10px;
}

.row::after {
  clear: both;
  content: '';
  display: block;
}

.old-grid-container [class^='col-'] {
  padding: 0 10px;
  float: left;
  margin-bottom: 10px;
}

.old-grid-container .col-12 {
  width: 100%;
}
.old-grid-container .col-6 {
  width: 50%;
}
.old-grid-container .col-4 {
  width: 33.33%;
}
.old-grid-container .col-3 {
  width: 25%;
}

/* New Grid Code - solution 2 */
.new-grid-container div > div {
  background-color: lightgray;
  height: 50px;
}

.new-grid-container {
  /* task 2 (your code here) */
}
.col-12 {
  /* task 2 (your code here) */
}
.col-6 {
  /* task 2 (your code here) */
}
.col-5 {
  /* task 2 (your code here) */
}
.col-4 {
  /* task 2 (your code here) */
}
.col-3 {
  /* task 2 (your code here) */
}
.col-2 {
  /* task 2 (your code here) */
}
