html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* scroll down to where you need to add your css code */

/* old flexbox layout */
.old-layout-container {
  max-width: 1020px;
  margin: 1.5rem auto;
  display: flex;
}

.flex-left {
  flex: 1 0 auto;
  margin-right: 10px;
  text-align: center;
}

.flex-right header {
  margin-bottom: 10px;
}

.flex-right main {
  margin-bottom: 10px;
}

header {
  background-color: #c9d8b6;
}

nav {
  background-color: #57837b;
}

main {
  background-color: #f1ecc3;
}

footer {
  background-color: #515e63;
  color: white;
  font-size: 0.75rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul a {
  color: white;
}

.content {
  padding: 1rem;
  font-size: 1.5rem;
}

/* START WORKING HERE */

.grid-layout-container {
  max-width: 1000px;
  margin: 1.5rem auto;

  /* task (your code here) */
}

header {
  /* task (your code here) */
}

main {
  /* task (your code here) */
}

nav {
  /* task (your code here) */
}

footer {
  /* task (your code here) */
}
