<!-- main app container -->
<div class="card m-3">
	<h5 class="card-header">Instructions</h5>
	<div class="card-body">
		<ul>
			<li>
				<h6>1. Center the boxes in container and set the order that item 3 is displayed as the first element.</h6>
			</li>
			<li>
				<h6>2. Fill the container and let item 3 grow </h6>
			</li>
			<li>
				<h6>3. Align the boxes and strecth them to the same height.<br />
        User breakpint in css to display them vertically and full width if screen is 600px and smaller</h6>
			</li>
      <li>
        <h6>
          4. Place the links in the menubar on the right and use breakpoint in CSS to display them vertically and in 100% width id screen is 600px and smaller.
        </h6>
      </li>
      <li>
        <h6>5. Distribute the bars in the container and let them gro0w from bottom to top.</h6>
      </li>
      <li>
        <h6>6. Place the bars in the diagram vertically and let them grow from left.</h6>
      </li>
		</ul>
      The result should look like this: <a href="http://frontendlearning.ecx.local/assets/images/flexbox.jpg" target="_blank">flexbox result</a><br />
  	</div>
</div>

<div class="card m-3">
	<h5 class="card-header">1. Center and order</h5>
	<div class="card-body">
		<div class="container">
			<div class="item">
				<p>1</p>
			</div>
			<div class="item">
				<p>2</p>
			</div>
			<div class="item item-first">
				<p>3</p>
			</div>
		</div>
	</div>
</div>

<div class="card m-3">
	<h5 class="card-header">2. Grow item 2</h5>
  <div class="card-body">
	<div class="container">
		<div class="item">
			<p>1</p>
		</div>
		<div class="item item-center">
			<p>2</p>
		</div>
		<div class="item">
			<p>3</p>
		</div>
    </div>
	</div>
</div>

<div class="card m-3">
	<h5 class="card-header">3. Horizontal Stretch</h5>
	<div class="container stretch mobile-full">
		<div class="box">
			<h4>Headline 1</h4>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
				et dolore magna aliquyam erat, sed diam voluptua. </p>
		</div>
		<div class="box">
			<h4>Headline 2</h4>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
				et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing
				elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
				voluptua. </p>
		</div>
		<div class="box">
			<h4>Headline 3</h4>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
				et dolore magna aliquyam erat, sed diam voluptua. </p>
		</div>
	</div>
</div>

<div class="card m-3">
	<h5 class="card-header">4. Navigation</h5>
	<div class="menubar">
		<ul class="nav">
			<li><a href="#">Home</a></li>
			<li><a href="#">About us</a></li>
			<li><a href="#">Products</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
</div>

<div class="card m-3">
	<h5 class="card-header">5. Diagram horizontal</h5>
	<div class="bars horizontal">
		<div class="bar bar-1">20%</div>
		<div class="bar bar-2">30%</div>
		<div class="bar bar-3">40%</div>
		<div class="bar bar-4">50%</div>
		<div class="bar bar-5">70%</div>
	</div>
</div>

<div class="card m-3">
	<h5 class="card-header">6. Diagram vertical</h5>
	<div class="bars vertical">
		<div class="bar bar-1">20%</div>
		<div class="bar bar-2">30%</div>
		<div class="bar bar-3">40%</div>
		<div class="bar bar-4">50%</div>
		<div class="bar bar-5">70%</div>
	</div>
</div>