<!-- main app container -->
<div class="card m-3">
	<h5 class="card-header">Instructions</h5>
	<div class="card-body">
		<ul>
			<li><span>Provide <i>Cart service</i> in root, making it injectable in all classes of a module. <br/>HINT: Use <i>@Injectable</i> with appropriate attribute.</span>
			</li>
      <br/>
			<li><span>Make <i>Product service</i> injectable in a single component only, in a products list component. <br/>HINT: Use <i>@Component</i>  annotations's providers attribute</span>
			</li>
      <br/>
			<li><span>Inject both services in products component as constructor arguments and uncomment the rest of the code</span>
			</li>
		</ul>
	</div>
</div>

<div class="card m-3">
	<h5 class="card-header">Angular Services</h5>
	<div class="card-body">
		<div>
			<app-product-list></app-product-list>
		</div>
	</div>
</div>